body{
    margin: auto;
    max-width: 1440px;
}

.header_tytle{
font-size: 3em;
text-align: center;
letter-spacing: 7px;
margin: 20px;}

.header_tytle_blu {
    color: #3E45E8;}

.header_tytle_yellow {
    color:#E8C23E;}

.root{
    --color-blue: #0072DB}    

.header{
height: 765px;
border: 1px solid transparent;
background-image: url(../img/img01.png), url(../img/img0.png);
background-repeat: no-repeat;
background-position: 78px 239px, 0 0, 0 0;
margin: auto;
    }

.header_description{
    margin: 230px -172px;
    line-height: 1.5;
    word-spacing: -12px;
    letter-spacing: 3px;
    font-size: 4em;
    color: white;
}
.gradienthorizon{
width: 50%;
height: 10px;
background: linear-gradient(to right, #00E0FF, #1400ff 50%, #FFA800 50%, #ffaa0000);
margin: 40px 0
}



.cards{
    min-width: 992px;
    max-width: 1200px;
    margin: 0 auto;
}

.cards_tytle{
   font-size: 1.2em; 
   margin-bottom: -26px;
   margin-left: 72px;
   margin-top: 55px;
}


.card{
    display: inline-block;
    width: 30%;
    border: 5px solid #010102;
    min-height: 481px;
    vertical-align: top;
    border-radius: 34px;
    
}

.card-margin{
    margin: 0 3%
}

.card_shadow1{
    box-shadow: -16px 21px 40px #00d1ff59;}

.card_shadow2{
    box-shadow: 0px 21px 35px #00d1ff59;}
 
.card_shadow3{
    box-shadow: 16px 21px 40px #00d1ff59;}
    
.card__img > img{
    width: 100%;
}

.card__title{
    color: #352be4;
    margin: 20px 10px;
    font-size: 1.7em;
    font-weight: bold;
}
.card__description{
    color:#ffb25a;
    margin: 10px;
    font-size: 1.4em;
}
.map{
    text-align: center;
}
.map_tytle{
    text-align: center;
    width: 592px;
    font-size: 1.2em;
    border-color: #1400FF;
    border-bottom-width: 9px;
    border-bottom-style: inset;
    margin: 50px auto 32px;
}
.map_button{
    max-width: 500px;
    height: 81px;
    background-color: #2A61F0;
    font-size: 4em;
    text-align: center;
    border-radius: 40px;
    margin: 10px auto 30px;}

    .map_button_click{
        display: block;
        color: white;
    }    
    a{
        text-decoration: none;}
    .footer{
    width: 100%;
    background-color: #0D0661;
    text-align: center;
    padding: 19px 0;

    }

    .footer_tytle{
        font-size: 3em;
        letter-spacing: 7px;}

    .footer_click{ 
        font-size: 2em;
        letter-spacing: 7px;
        margin: 5px; 
    }

    .name_email{
        font-size: 0.7em}

    a{color: #A89D9D; }
