body {
    margin: 0 auto;
    background-color: #F9F9F9;
}


form {
    margin: 0 auto;
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-end;

}




.first_blok {
    width: 392px;
    display: flex;
    padding-bottom: 32px;
    border-bottom: 1px solid #D1D1D1;
}

.intake {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    font-family: Public Sans;
    color: #171717;
}

.mf {
    margin-top: 79px;
    display: inline-flex;
    color: #D83933;
}

.red {
    color: #D83933;
}

.mand {
    padding-left: 3px;
    font-size: 14px;
    font-weight: 400;
    font-family: Public Sans;
    color: #171717;
}

.info {
    padding-top: 24px;
    padding-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
    font-family: Public Sans;
    color: #171717;
}

.label {
    width: 392px;
    margin-top: 21px;
    margin-bottom: 8px;
   
    display: block;
    color: #171717;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.select {
    width: 392px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    border-color: #ADADAD;
    font-family: sans-serif;
    padding-left: 10px;
}

.input {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    border-radius: 4px;
    font-family: sans-serif;
    border: 1px solid;
    border-color: #ADADAD;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;

}

.blue {
    color: #0050D8;
}

.date {
    text-align: center;
}

.second {
    margin-left: 32px;
      
}
.second1{
    margin-left: 8px ;
}

.checkbox_dasplay {
    display: flex;
    margin-top: 32px;
}

.checkbox {
    display: flex;
    width: 24px;
    height: 24px;
    accent-color: #FF00FF
}

.checkbox__label {
    width: 380px;
    padding-left: 8px;
    color: #171717;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui
}

.checkbox_Purged {
    display: flex;
    margin-top: 133px;
}

.checkbox__Purged {
    display: flex;
    width: 24px;
    height: 24px;
}
.checkbox_dasplay2 {
    display: flex;
    margin-top: 32px;
}

.search{
    background-image: url(../img/search-line.svg);
    background-repeat: no-repeat;
    background-position: 358px;
    border: 1px solid;
    border-color: #ADADAD;
}

button{
    width: 69px;
    height: 40px;
    background-color: #0050D8;
    color: #FFFFFF;
    border-color: #0050D8;
    border-radius: 4px;
    font-size: 16px;
    width: 700;
    margin: 16px 0 110px 747px;
}