body {
    background-color: rgba(251, 228, 255, 1);
    margin: 0;

}
.head {
    width: 70%;
    margin: auto;
    height: 65px;
    background-color: rgba(36, 59, 147, 1);
    display: flex;
    align-items: center;

}

.logo {
    margin: auto 7% auto 10%;
}

.menu {
    width: 50%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;}

.menu_name {
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin: auto 0;
    display: block;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;}
    
.lang {
    margin: auto 10% auto 4%;
    white-space: nowrap; }
    
.center {
    position: relative;
    bottom: 0.7vh;
     margin: 5px;}

.reservation {
    background-color: #BFF0FF;
    font-size: 3em;
    display: flex;
    height: 110px;
    align-items: center;
 
    width: 70%;
    margin: auto;}
main{
    background-color: #FBE4FF;
    padding: 1px;}
    
.choose_place{
    width: 70%;
    margin: 20px auto;}

.place_tytle{
    background-color: white;
    font-size: 2em;
    height: 2em;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin-bottom: 41px;
}
.place_tytle p {margin: auto;}

.place_area {
    margin-bottom: 50px;
}

.back {
    min-height: 310px;
    background: linear-gradient(to right, rgba(169, 203, 214, 1), rgba(10, 177, 230, 1));
    display: flex;}

    .back:hover{
        background: rgba(44, 189, 235, 1);
        box-shadow: 0px 0px 60px rgb(44 189 235);}
    
    
    .back:hover .star{
        background-image: url(../img/stary.svg);
        transition: 0.3s;}
    
    .back:hover .detail>a{
        background-color: rgba(239, 7, 91, 1);}
        .img {
            width: 31%;
            padding-left: 60px;
            padding-top: 40px;
        }
        
        .text {
            width: 60%;
            vertical-align: top;
            position: relative;
        }
        .tytle h1 {
            font-size: 2em;
            border-bottom: #EDFBFF;
            border-bottom-style: solid;
        }
        
        .description {
            height: 193px;
            padding: 0px 130px 0 10px;
            font-size: 1.5em;
            background-color: #EDFBFF;
        }
        .badget {
            display: inline-block;
            position: absolute;
        }
        
        .star {
            width: 48px;
            height: 46px;
            background-image: url(../img/star.svg);
            position: absolute;
            left: 940px;
            top: -278px;
        }


                        
        .detail>a{
            background-color: #243B93;
            font-size: 2em;
            text-align: center;
            text-decoration: none;
            width: 230px;
            color: white;
            height: 50px;
            border-radius: 24px;
            position: absolute;
            left: 797px;
            top: -39px;
        }
        .up {
            width: 100px;
            height: 80px;
            background-color: rgba(48, 12, 106, 0.3);
            text-align: center;
            padding-top: 20px;
            border-radius: 50px;
            position: absolute;
            top: 1537px;
            left: 1702px;}
            .footer{
                width: 70%;
                height: 70px;
                background-color: #243B93;
                margin: 0 auto;
            }
            .footer p{
                color: white;
                font-size: 1.1em;
                letter-spacing: 3px;
                padding: 25px 201px;
                margin: 0;
            }
            