html {
    font-size: 20px;

    --white: rgba(255, 255, 255, 1);
    --black: rgba(12, 17, 22, 1);
    --table__border: rgba(220, 232, 237, 1);
}

body {
    
    margin: 0;
    font-family: 'PT Root UI', sans-serif;
}

header {
    font-size: .8rem;
    font-weight: 400;
}

.header-bg,
.main-bg {
    margin: 0 auto;
    width: 1440px;
}

.header-bg {
    background-color: rgba(36, 41, 44, 1);
}

.header {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 124px;
    margin-left: 1%;
}

.nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav a {
    padding: 8px 0;
    font-size: .8rem;
    color: var(--white);
    text-decoration: none;
}

.nav a:hover {
    color: rgba(0, 166, 237, 1);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(0, 166, 237, 1) 40%, rgba(0, 166, 237, 1) 60%, transparent 60%, transparent 100%);
    border-image-slice: 1;
}

.user {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user__incoming {
    position: relative;
}

.user__incoming-number {
    width: 24px;
    /* display: inline-block; */
    color: var(--white);
    font-size: .7rem;
    position: absolute;
    right: -18px;
    top: -13px;
    padding: 3px 0;
    background-color: rgba(235, 68, 88, 1);
    border-radius: 12px;
    text-align: center;
}

.user__incoming:hover {
    background-color: rgba(0, 166, 237, 1);
}


.user__name {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 18px;
}

.user__name>div {
    color: var(--white);

}

.user__name>div>img {
    padding: 3px 5px;
}


.person:hover {
    color: rgba(0, 166, 237, 1);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(0, 166, 237, 1) 40%, rgba(0, 166, 237, 1) 60%, transparent 60%, transparent 100%);
    border-image-slice: 1;
}



.main-bg {
    background-color: #F4F7F9;
}

.main {
    width: 1150px;
    margin: 0 auto;
    background-color: rgba(244, 247, 249, 1);
    padding-bottom: 40px;
}

.main__tytle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.main__tytle div {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
}

.btn__up {
    display: flex;
    align-items: center;
    width: 127px;
    height: 40px;
    justify-content: space-evenly;
    border: 1px solid var(--table__border);
    border-radius: 14px;
}

.btn__up a {
    font-size: .8rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}

.table {
    border: 1px solid var(--table__border);
    border-radius: 24px;
    font-size: .7rem;
    border-collapse: collapse;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
    border-bottom: 1px solid var(--table__border);
}

.table-application {
    width: 113px;
    padding-left: 32px;
    text-align: right;
}

.table-title {
    width: 208px;
    padding-left: 32px;
}

.table-date {
    width: 136px;
    padding-left: 32px;
}

.table-contractor {
    width: 208px;
    padding-left: 32px;
}

.table-priority {
    width: 85px;
    padding-left: 32px;
    text-align: right;
}

.table-status {
    width: 157px;
    padding-left: 32px;
}

.table-up__win {
    width: 48px;
    text-align: center;
}

td .arrow {
    text-align: left;
    position: relative;
}

.table-thead {
    padding-top: 16px;
    padding-bottom: 16px;

}

.table-thead input {
    width: 100%;
    height: 32px;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid rgba(149, 180, 193, 1);
    box-shadow: 0 10px 20px 0 rgba(0, 23, 33, 0.04);
}

.search input {
    background: var(--white) url(/img/main/path.svg) no-repeat 10px 10px/10px 10px;
}

.date input {
    background: var(--white) url(/img/main/date.svg) no-repeat 10px 10px/10px 10px;
}

.arrow::after {
    content: url(/img/main/vektor.svg);
    position: absolute;
    top: 20px;
    right: 0;
}

/*.table-thead input[type="date"]::-webkit-calendar-picker-indicator{
display: none;
}*/
.table-tbody {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-tbody-tr {
    background-color: var(--white);
    cursor: pointer;
}

.table-tbody-tr:hover {
    background-color: transparent;
}

.text__yellow {
    color: rgba(242, 201, 76, 1);
}

.text__green {
    color: rgba(39, 174, 96, 1);
}

.text__blue {
    color: rgba(45, 156, 219, 1);
}

.text__red {
    color: rgba(235, 87, 87, 1);
}

/* start dropdown  */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dots {
    display: inline-block;
    height: 4px;
    width: 14px;
    background-image: url(/img/main/mask.svg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    width: 192px;
    left: -20px;
    border-radius: 16px;
    box-shadow: -2px -1px 20px 0px rgba(74, 74, 74, 0.1);
    z-index: 1;
}

.dropdown-content span {
    margin-right: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dots {
    background-image: url(/img/main/mask__blue.svg);
}

/* end dropdown */

.table__footer td {
    border: none;
    background-color: var(--white);
}
.left{
    border-bottom-left-radius: 24px;
}
.right{
    border-bottom-right-radius: 24px;
}

.footer-btn {
    display: flex;
    margin: 24px 40px;
}

.footer-btn button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-btn a {
    text-decoration: none;
}

.footer-btn button:hover {
    background-color: rgba(0, 166, 237, 1);
}

.footer-content {
    margin: 24px 40px;
}

.footer-content input {
    width: 56px;
    height: 32px;
    border: 1px solid var(--table__border);
    border-radius: 8px;
    padding-left: 15px;
    margin-left: 10px;
}