* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  html {
    font-size: 20px;
  }
  
  body {
    width: 100%;
    height: 100%;
    font-size: 100%;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  
  body {
    background-image: linear-gradient(180deg, #333333 0%, #090707 11.98%);
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    overflow-x: hidden;
  }
  
  
  header {
    margin-top: 20px;
  }
  header .head__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    width: 165px;
    height: 36.63px;
  }
  header .navbar {
    display: flex;
    padding-left: 43%;
    gap: 27px;
  }
  header .nav__item {
    font-weight: 500;
    font-size: 0.7rem;
  }
  
  .container {
    width: 85%;
    margin: 0 auto;
  }
  
  button {
    width: 204px;
    height: 50px;
    background: #1A1919;
    border: 1.5px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
  }
  button:hover {
    background: #3775ED;
    border: #3775ED;
  }
  
 
  h2 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
  }
  
  h4 {
    font-size: 1.1rem;
    text-align: center;
    color: #E5E5E5;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  
  /*------------------------------------------------------------*/
  
  .wrapper__first {
    margin: 112px auto 0;
  }
  .wrapper__first h1 {
    font-weight: 700;
    font-size: 3.3rem;
    letter-spacing: 2px;
    text-align: center;
  }
  .wrapper__first span {
    color: #3775ED;
  }
  .wrapper__first h4 {
    margin-top: 47px;
  }
  .wrapper__first .btn {
    display: flex;
    justify-content: center;
    margin: 55px 0;
    gap: 23px;
  }
  .wrapper__first .bg__foto1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 514px;
    text-align: center;
    border-radius: 10px;
    -o-object-fit: fill;
      object-fit: fill;
    overflow-x: hidden;
  }
  .wrapper__first .bg__foto1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
      object-fit: cover;
  }
  
  /*------------------------------------------------------------*/
  
  .wrapper__second {
    position: relative;
    margin: 172px auto 0;
    border-bottom: 1px solid #282828;
  }
  .wrapper__second .cards__color {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 24px;
  }
  .wrapper__second .card__wesite {
    width: 32%;
    height: 277px;
    border-radius: 5px;
    position: relative;
  }
  .wrapper__second .orange {
    background: #C96408;
  }
  .wrapper__second .violet {
    background: #7937BB;
  }
  .wrapper__second .blue {
    background: #3775ED;
  }
  .wrapper__second .card__img {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
  }
  .wrapper__second .img__white1 {
    position: absolute;
    top: -25px;
    left: -22px;
  }
  .wrapper__second .img__white2 {
    position: absolute;
    bottom: 68px;
    right: -22px;
  }
  .wrapper__second h3 {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
  }
  .wrapper__second h5 {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 20px 0;
  }
  .wrapper__second .web__blok {
    width: 100%;
    height: 347px;
    background: #1A1919;
    border-radius: 5px;
    margin-bottom: 90px;
    position: relative;
  }
  .wrapper__second .web__blok h2 {
    padding-top: 100px;
  }
  .wrapper__second .web__blok h4 {
    padding: 0 110px;
  }
  .wrapper__second .web__blok .ellipse1 {
    position: absolute;
    top: 33px;
    left: 96px;
  }
  .wrapper__second .web__blok .ellipse2 {
    position: absolute;
    top: 25px;
    left: 350px;
  }
  .wrapper__second .web__blok .ellipse3 {
    position: absolute;
    top: 29px;
    right: 300px;
  }
  .wrapper__second .web__blok .ellipse4 {
    position: absolute;
    top: 93px;
    right: 36px;
  }
  .wrapper__second .web__blok .ellipse5 {
    position: absolute;
    bottom: 100px;
    left: 36px;
  }
  .wrapper__second .web__blok .ellipse6 {
    position: absolute;
    bottom: 40px;
    left: 211px;
  }
  .wrapper__second .web__blok .ellipse7 {
    position: absolute;
    bottom: 33px;
    right: 319px;
  }
  .wrapper__second .web__blok .ellipse8 {
    position: absolute;
    bottom: 55px;
    right: 91px;
  }
  
  /*------------------------------------------------------------*/
  
  .wrapper__third {
    margin: 52px auto 0;
    border-bottom: 1px solid #282828;
  }
  .wrapper__third h2 {
    text-align: left;
  }
  .wrapper__third h4 {
    text-align: left;
  }
  .wrapper__third .cards__developer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 77px auto 0;
    gap: 25px;
    position: relative;
  }
  .wrapper__third .card__foto-developer {
    position: relative;
    width: 282px;
    height: 304px;
  }
  .wrapper__third .developer {
    width: 100%;
    height: 75px;
    background: rgba(9, 7, 7, 0.4);
    -webkit-backdrop-filter: blur(12.5px);
            backdrop-filter: blur(12.5px);
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    bottom: 0;
    padding-top: 12px;
  }
  .wrapper__third .developer h3 {
    font-weight: 500;
    font-size: 1rem;
    padding-left: 20px;
  }
  .wrapper__third .developer .name16 {
    display: flex;
    align-items: center;
    font-size: 0.65rem;
  }
  .wrapper__third .developer .name16:before {
    content: url(../img/Ellipse16.png);
    padding-right: 6px;
    padding-left: 20px;
  }
  .wrapper__third .developer .name16:after {
    content: url(../img/sms.png);
    padding-left: 30%;
  }
  .wrapper__third .developer .name20 {
    display: flex;
    align-items: center;
    font-size: 0.65rem;
  }
  .wrapper__third .developer .name20:before {
    content: url(../img/Ellipse20.png);
    padding-right: 6px;
    padding-left: 20px;
  }
  .wrapper__third .developer .name20:after {
    content: url(../img/sms.png);
    padding-left: 30%;
  }
  .wrapper__third .developer .name35 {
    display: flex;
    align-items: center;
    font-size: 0.65rem;
  }
  .wrapper__third .developer .name35:before {
    content: url(../img/Ellipse35.png);
    padding-right: 6px;
    padding-left: 20px;
  }
  .wrapper__third .developer .name35:after {
    content: url(../img/sms.png);
    padding-left: 30%;
  }
  .wrapper__third .developer .name40 {
    display: flex;
    align-items: center;
    font-size: 0.65rem;
  }
  .wrapper__third .developer .name40:before {
    content: url(../img/Ellipse40.png);
    padding-right: 6px;
    padding-left: 20px;
  }
  .wrapper__third .developer .name40:after {
    content: url(../img/sms.png);
    padding-left: 30%;
  }
  .wrapper__third .btn {
    margin: 85px auto;
    display: flex;
    justify-content: center;
  }
  
  /*------------------------------------------------------------*/
  
  .wrapper__fourth {
    margin: 60px auto 0px;
    border-bottom: 1px solid #282828;
  }
  .wrapper__fourth .cards-user__comment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 72px 0 0;
    gap: 30px;
  }
  .wrapper__fourth .card-user {
    width: 30%;
    height: 32%;
    background: #1A1919;
    border-radius: 5px;
    padding: 15px 15px 0;
  }
  .wrapper__fourth p {
    font-weight: 300;
    font-size: 0.7rem;
    padding-bottom: 10px;
  }
  .wrapper__fourth .user1 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user1:before {
    content: url(../img/card1.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user2 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user2:before {
    content: url(../img/card2.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user3 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user3:before {
    content: url(../img/card3.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user4 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user4:before {
    content: url(../img/card4.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user5 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user5:before {
    content: url(../img/card5.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user6 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user6:before {
    content: url(../img/card6.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user7 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user7:before {
    content: url(../img/card7.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user8 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user8:before {
    content: url(../img/card8.png);
    padding-right: 12px;
  }
  .wrapper__fourth .user9 {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .wrapper__fourth .user9:before {
    content: url(../img/card9.png);
    padding-right: 12px;
  }
  .wrapper__fourth .bg__foto2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
    margin: 156px 0;
    text-align: center;
    border-radius: 10px;
    -o-object-fit: fill;
      object-fit: fill;
    overflow-x: hidden;
  }
  .wrapper__fourth .bg__foto2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
      object-fit: cover;
  }
  .wrapper__fourth .bg__foto2 .display__block {
    display: block;
  }
  .wrapper__fourth .bg__foto2 h2 {
    text-align: left;
    font-size: 2.5rem;
    margin-left: 77px;
    margin-top: -350px;
  }
  .wrapper__fourth .bg__foto2 h4 {
    text-align: left;
    margin-left: 88px;
  }
  
  /*------------------------------------------------------------*/
  
  .wrapper__fifth {
    margin: 51px auto 0;
    border-bottom: 1px solid #282828;
  }
  .wrapper__fifth .blue__block {
    width: 100%;
    height: 291px;
    background: #3775ED;
    border-radius: 10px;
    margin-bottom: 51px;
  }
  .wrapper__fifth h2 {
    padding-top: 50px;
  }
  .wrapper__fifth .btn {
    margin: 42px auto;
    display: flex;
    justify-content: center;
  }
  .wrapper__fifth button {
    border-color: #1A1919;
  }
  
  /*Start footer---------------------------------------------------------------------------------*/
  
  footer .container {
    width: 85%;
    margin: 0 auto;
  }
  footer .footer__block {
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer__sociale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /*Start media----------------------------------------------------------------------------------*/
  
  @media screen and (max-width: 1200px) {
    header .container {
      width: 90%;
      margin: 0 auto;
    }
    header .navbar {
      padding: 0;
    }
    .wrapper__first h1 {
      font-size: 2.5rem;
    }
    .wrapper__second .web__blok img {
      width: 90%;
      height: 90%;
    }
  }
  
  /*------------------------------------------------------------*/
  
  @media screen and (max-width: 992px) {
    body {
      width: 100%;
      background: #090707;
      overflow-x: hidden;
    }
    header {
      width: 100%;
      margin: 20px auto 0;
    }
    header .container {
      width: 90%;
      margin: 0 auto;
    }
    header .navbar {
      padding: 0;
    }
    header button {
      width: 174px;
    }
    .container {
      width: 100%;
    }
    .wrapper__first {
      margin: 64px auto 0;
    }
    .wrapper__first h1 {
      width: 90%;
      font-size: 1.6rem;
      letter-spacing: 0px;
      margin: 0 auto;
    }
    .wrapper__first h4 {
      width: 90%;
      margin: 25px auto 0;
    }
    .wrapper__first .btn {
      height: 50px;
      margin: 55px 0;
      gap: 25px;
    }
    .wrapper__first button {
      width: 204px;
      height: 50px;
    }
    .wrapper__first .bg__foto1 {
      width: 100%;
      height: 348px;
      border-radius: 0;
      overflow-x: hidden;
    }
    .wrapper__first .bg__foto1 img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
        object-fit: cover;
    }
    .wrapper__second {
      margin: 42px auto 0;
      width: 90%;
    }
    .wrapper__second h2 {
      font-size: 1.4rem;
    }
    .wrapper__second h4 {
      font-size: 1rem;
      margin-top: 0;
      padding: 15px 15px 0;
    }
    .wrapper__second .cards__color {
      display: block;
      margin-top: 34px;
      margin-bottom: 0;
    }
    .wrapper__second .card__wesite {
      width: 100%;
      margin-bottom: 20px;
    }
    .wrapper__second h3 {
      font-size: 1.2rem;
    }
    .wrapper__second h5 {
      font-size: 0.9rem;
      padding: 15px 20px 0;
    }
    .wrapper__second .web__blok {
      width: 100%;
      height: 387px;
      margin-bottom: 72px;
    }
    .wrapper__second .web__blok h2 {
      font-size: 1.2em;
    }
    .wrapper__second .web__blok h4 {
      font-size: 0.9em;
      padding: 30px 100px;
    }
    .wrapper__second .web__blok .ellipse1 {
      position: absolute;
      top: 30px;
      left: 47px;
    }
    .wrapper__second .web__blok .ellipse2 {
      position: absolute;
      top: 45px;
      left: 165px;
    }
    .wrapper__second .web__blok .ellipse3 {
      position: absolute;
      top: 20px;
      right: 169px;
    }
    .wrapper__second .web__blok .ellipse4 {
      position: absolute;
      top: 75px;
      right: 55px;
    }
    .wrapper__second .web__blok .ellipse5 {
      position: absolute;
      bottom: 80px;
      left: 52px;
    }
    .wrapper__second .web__blok .ellipse6 {
      position: absolute;
      bottom: 45px;
      left: 207px;
    }
    .wrapper__second .web__blok .ellipse7 {
      position: absolute;
      bottom: 65px;
      right: 205px;
    }
    .wrapper__second .web__blok .ellipse8 {
      position: absolute;
      bottom: 40px;
      right: 60px;
    }
    .wrapper__second .web__blok img {
      width: 75%;
      height: 75%;
    }
    .wrapper__third {
      margin: 72px auto 0;
      border-bottom: 1px solid #282828;
      width: 90%;
    }
    .wrapper__third h2 {
      text-align: center;
      font-size: 1.4rem;
    }
    .wrapper__third h4 {
      text-align: center;
      font-size: 1rem;
      margin-top: 15px;
    }
    .wrapper__third .cards__developer {
      margin: 43px auto 0;
      justify-content: space-between;
      gap: 20px;
    }
    .wrapper__third .card__foto-developer {
      width: 48%;
      height: 100%;
      overflow-x: hidden;
    }
    .wrapper__third .card__foto-developer img {
      width: 100%;
      height: 100%;
    }
    .wrapper__third .developer {
      width: 100%;
    }
    .wrapper__third .developer h3 {
      padding: 0 40px;
    }
    .wrapper__third .name16, .wrapper__third .name20, .wrapper__third .name35, .wrapper__third .name40 {
      justify-content: space-around;
      font-size: 0.8rem;
    }
    .wrapper__third .btn {
      margin: 65px auto 50px;
      display: flex;
      justify-content: center;
    }
    .wrapper__fourth {
      margin: 44px auto 0px;
    }
    .wrapper__fourth h2 {
      font-size: 1.4rem;
    }
    .wrapper__fourth h4 {
      margin-top: 17px;
      font-size: 1rem;
    }
    .wrapper__fourth .cards-user__comment {
      width: 90%;
      height: 100%;
      margin: 35px auto 0;
    }
    .wrapper__fourth .card-user {
      width: 47%;
      height: 159px;
      background: #1A1919;
      border-radius: 5px;
      padding: 15px 15px 0;
    }
    .wrapper__fourth p {
      font-size: 0.7rem;
    }
    .wrapper__fourth .bg__foto2 {
      width: 100%;
      height: 429px;
      margin: 45px 0;
      border-radius: 0;
      text-align: center;
      overflow-x: hidden;
    }
    .wrapper__fourth .bg__foto2 img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
        object-fit: cover;
    }
    .wrapper__fourth .bg__foto2 h2 {
      text-align: left;
      font-size: 1.7rem;
      margin: -250px 30px 0;
    }
    .wrapper__fourth .bg__foto2 h4 {
      text-align: left;
      margin-left: 30px;
      font-size: 1rem;
    }
    .wrapper__fifth {
      margin: 40px auto 0;
      width: 90%;
    }
    .wrapper__fifth .blue__block {
      margin: 0 0 70px;
    }
    .wrapper__fifth h2 {
      padding: 45px 0 20px;
      font-size: 1.6rem;
      text-align: center;
    }
    .wrapper__fifth h4 {
      font-size: 1rem;
      text-align: center;
      margin: 0;
    }
    .wrapper__fifth .btn {
      margin: 45px 20px;
      display: flex;
      justify-content: center;
    }
    footer .container {
      height: 100%;
    }
    footer .footer__block {
      width: 100%;
      height: 172px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    footer .footer__sociale {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
  
  /*------------------------------------------------------------*/
  
  @media screen and (max-width: 768px) {
    .wrapper__fourth p {
      font-size: 0.65rem;
    }
    .wrapper__fifth {
      margin: 0 auto 84px;
    }
    .wrapper__fifth .blue__block {
      margin: 40px 0 0;
    }
    footer {
      display: none;
    }
  }
  
  /*------------------------------------------------------------*/
  
  @media screen and (max-width: 540px) {
    header {
      width: 95%;
      margin: 20px auto 0;
    }
    header img {
      width: 95px;
      height: 26px;
    }
    header .navbar {
      display: none;
    }
    header button {
      display: none;
    }
    .wrapper__first {
      margin: 64px auto 0;
    }
    .wrapper__first h1 {
      font-size: 1.7rem;
      letter-spacing: 1px;
    }
    .wrapper__first h4 {
      font-size: 0.9rem;
      margin-top: 25px;
    }
    .wrapper__first .btn {
      display: block;
      margin: 32px auto 0;
      width: 95%;
    }
    .wrapper__first button {
      width: 100%;
      height: 50px;
    }
    .wrapper__first .mar__bot {
      margin-bottom: 20px;
    }
    .wrapper__first .bg__foto1 {
      width: 100%;
      height: 348px;
      border-radius: 0;
      overflow-x: hidden;
      margin-top: 110px;
    }
    .wrapper__first .bg__foto1 img {
      width: 100%;
      -o-object-fit: cover;
        object-fit: cover;
    }
    .wrapper__second {
      margin: 72px auto 0;
      border-bottom: none;
      width: 95%;
    }
    .wrapper__second h2 {
      font-size: 1.2rem;
    }
    .wrapper__second h4 {
      font-size: 0.8rem;
      margin-top: 0;
      padding: 15px 15px 0;
    }
    .wrapper__second .cards__color {
      display: block;
      margin-top: 34px;
      margin-bottom: 0;
    }
    .wrapper__second .card__wesite {
      width: 100%;
      margin-bottom: 20px;
    }
    .wrapper__second .img__white1 {
      display: none;
    }
    .wrapper__second .img__white2 {
      display: none;
    }
    .wrapper__second h3 {
      font-size: 1.1rem;
    }
    .wrapper__second h5 {
      font-size: 0.8rem;
      padding: 15px 20px 0;
    }
    .wrapper__second .web__blok {
      width: 100%;
      height: 387px;
      margin-bottom: 0;
    }
    .wrapper__second .web__blok h2 {
      font-size: 1.1em;
      padding: 130px 20px 0;
    }
    .wrapper__second .web__blok h4 {
      font-size: 0.7em;
    }
    .wrapper__second .web__blok .ellipse1 {
      position: absolute;
      top: 60px;
      left: 27px;
    }
    .wrapper__second .web__blok .ellipse2 {
      position: absolute;
      top: 80px;
      left: 137px;
    }
    .wrapper__second .web__blok .ellipse3 {
      position: absolute;
      top: 20px;
      right: 119px;
    }
    .wrapper__second .web__blok .ellipse4 {
      position: absolute;
      top: 75px;
      right: 20px;
    }
    .wrapper__second .web__blok .ellipse5 {
      position: absolute;
      bottom: 80px;
      left: 22px;
    }
    .wrapper__second .web__blok .ellipse6 {
      position: absolute;
      bottom: 30px;
      left: 67px;
    }
    .wrapper__second .web__blok .ellipse7 {
      position: absolute;
      bottom: 30px;
      right: 80px;
    }
    .wrapper__second .web__blok .ellipse8 {
      position: absolute;
      bottom: 45px;
      right: 10px;
    }
    .wrapper__second .web__blok img {
      width: 65%;
      height: 65%;
    }
    .wrapper__third {
      margin: 72px auto 0;
      border-bottom: 1px solid #282828;
      width: 95%;
    }
    .wrapper__third h2 {
      text-align: center;
      font-size: 1.2rem;
    }
    .wrapper__third h4 {
      text-align: center;
      font-size: 0.8rem;
      margin-top: 13px;
    }
    .wrapper__third .cards__developer {
      display: block;
      margin: 43px auto 0;
    }
    .wrapper__third .card__foto-developer {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      margin-bottom: 20px;
    }
    .wrapper__third .card__foto-developer img {
      width: 100%;
      height: 100%;
    }
    .wrapper__third .developer {
      width: 100%;
    }
    .wrapper__third .developer h3 {
      padding: 0 50px;
    }
    .wrapper__third .btn {
      margin: 65px auto 50px;
      display: flex;
      justify-content: center;
    }
    .wrapper__fourth {
      margin: 44px auto 0px;
      border-bottom: none;
    }
    .wrapper__fourth h2 {
      font-size: 1.3rem;
    }
    .wrapper__fourth h4 {
      margin-top: 17px;
      font-size: 0.8rem;
      padding: 0 12px;
    }
    .wrapper__fourth .cards-user__comment {
      display: block;
      width: 95%;
    }
    .wrapper__fourth .card-user {
      width: 100%;
      margin-bottom: 13px;
    }
    .wrapper__fourth .bg__foto2 h2 {
      text-align: left;
      font-size: 1.6rem;
      margin: -250px 22px 0;
    }
    .wrapper__fourth .bg__foto2 h4 {
      text-align: left;
      margin-left: 22px;
      font-size: 0.8rem;
    }
    .wrapper__fifth {
      margin: 0 auto 84px;
      border-top: 1px solid #282828;
      border-bottom: none;
      width: 95%;
    }
    .wrapper__fifth .blue__block {
      width: 100%;
      height: 291px;
      background: #3775ED;
      border-radius: 10px;
    }
    .wrapper__fifth h2 {
      padding: 30px 20px 17px;
      font-size: 1.4rem;
      text-align: left;
    }
    .wrapper__fifth h4 {
      font-size: 0.8rem;
      text-align: left;
      padding-left: 20px;
      margin: 0;
    }
    .wrapper__fifth .btn {
      margin: 31px 20px;
      display: flex;
      justify-content: left;
    }
  }
  
  /*------------------------------------------------------------*/
  
  @media screen and (max-width: 360px) {
    .wrapper__first h1 {
      letter-spacing: 0;
      font-size: 1.4rem;
    }
    .wrapper__first h4 {
      font-size: 0.7em;
    }
    .wrapper__second h2 {
      font-size: 1.2rem;
    }
    .wrapper__second h4 {
      font-size: 0.7rem;
    }
    .wrapper__second h3 {
      font-size: 1rem;
    }
    .wrapper__second h5 {
      font-size: 0.7rem;
      padding: 15px 20px 0;
    }
    .wrapper__second .web__blok h2 {
      font-size: 1.1em;
      padding: 120px 10px 0;
    }
    .wrapper__second .web__blok h4 {
      font-size: 0.7em;
      padding: 20px;
    }
    .wrapper__second .web__blok img {
      width: 55%;
      height: 55%;
    }
    .wrapper__third h2 {
      font-size: 1.2rem;
    }
    .wrapper__third h4 {
      font-size: 0.7rem;
    }
    .wrapper__third .developer h3 {
      font-weight: 400;
      font-size: 0.8rem;
      padding-left: 17px;
    }
    .wrapper__third .developer .name16, .wrapper__third .developer .name20, .wrapper__third .developer .name35, .wrapper__third .developer .name40 {
      align-items: center;
      font-size: 0.55rem;
    }
    .wrapper__third .developer .name16:before, .wrapper__third .developer .name20:before, .wrapper__third .developer .name35:before, .wrapper__third .developer .name40:before {
      padding-right: 0px;
      padding-left: 10px;
    }
    .wrapper__third .developer .name16:after, .wrapper__third .developer .name20:after, .wrapper__third .developer .name35:after, .wrapper__third .developer .name40:after {
      padding-left: 20%;
    }
    .wrapper__third button {
      width: 134px;
      height: 30px;
    }
    .wrapper__fourth h2 {
      padding: 0 10px;
      font-size: 1.2rem;
    }
    .wrapper__fourth h4 {
      font-size: 0.7rem;
    }
    .wrapper__fourth .bg__foto2 h2 {
      font-size: 1.2rem;
    }
    .wrapper__fourth .bg__foto2 h4 {
      font-size: 0.7rem;
    }
    .wrapper__fifth h2 {
      padding: 35px 20px 15px;
      font-size: 1.2rem;
      text-align: left;
    }
    .wrapper__fifth h4 {
      font-size: 0.8rem;
      text-align: left;
    }
    .wrapper__fifth .btn {
      margin: 35px 20px;
    }
    .wrapper__fifth button {
      width: 134px;
      height: 30px;
    }
  }
  /*End----------------------------------------------------------------------------------------*/