body {
    margin: 0 auto;
    background: #001124;
}

.container {
    box-sizing: border-box;
    display: flex;
}

.content {
    display: flex;
    padding: 233px 0 0px 105px;
    display: block;
}

.img {
    width: 793px;
    height: 552px;
    margin: 190px 0;
}

.login {
    padding-bottom: 42px;
    color: #fff;
    font-size: 45px;
    font-weight: 400;
    font-family: serif;
}

label {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: Padauk;

}

input {
    width: 361px;
    height: 43px;
    border: none;
    overflow: visible;
}

.form {
    color: #499FFE;
    font-family: Padauk;
    font-size: 20px;
    font-weight: 400;

}

.user {
    color: #fff;
    font-family: Padauk;
    font-size: 20px;
    font-weight: 400;
    margin: 11px auto;
}

a {
    color: #499FFE;
    text-decoration: none;
}

button {
    width: 180px;
    height: 43px;
    background-color: #015FC7;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}