body {
    margin: 0 auto;
    background: #001124;
}

.container {
    box-sizing: border-box;
    display: flex;
}

.content {
    display: flex;
    padding: 107px 0 0px 250px;
    display: block;}

    .img {
        width: 392px;
        height: 666px;
        margin: 117px 0;
        padding: 0 0 0 143px;
    }
    .Registration {
        padding-bottom: 42px;
        color: #fff;
        font-size: 45px;
        font-weight: 400;
        font-family: serif;}

        label {
            display: block;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            font-family: Padauk;}

            input {
                width: 361px;
                height: 43px;
                border: none;
                overflow: visible;
            }
            button {
                width: 180px;
                height: 43px;
                border-radius: 5px;
                background-color: #015FC7;
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                margin-left: 25%;
            margin-top: 15px;}

                